<?xml version="1.0"?>
<config>
    <modules>
        <EW_EnhancedEmails>
            <version>1.1.0</version>
        </EW_EnhancedEmails>
    </modules>
    <global>
        <helpers>
            <ew_enhancedemails>
                <class>EW_EnhancedEmails_Helper</class>
            </ew_enhancedemails>
        </helpers>
        <models>
            <ew_enhancedemails>
                <class>EW_EnhancedEmails_Model</class>
            </ew_enhancedemails>

            <core>
                <rewrite>
                    <email_template_filter>EW_EnhancedEmails_Model_Core_Email_Template_Filter</email_template_filter>
                    <email_template>EW_EnhancedEmails_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>

        <events>
            <core_email_template_get_template_filter_after>
                <observers>
                    <ew_enhancedemails>
                        <type>singleton</type>
                        <class>ew_enhancedemails/observer</class>
                        <method>selectTemplateFilterStore</method>
                    </ew_enhancedemails>
                </observers>
            </core_email_template_get_template_filter_after>
        </events>
    </global>

    <phpunit>
        <suite>
            <modules>
                <EW_EnhancedEmails />
            </modules>
        </suite>
    </phpunit>
</config>